.o_diagram_plus_view,
.o_diagram_plus {
    height: 100%;
    background-color: white;

    .o_diagram_plus_header {
        padding-top: 16px;
        padding-right: 16px;
        padding-bottom: 16px;
        padding-left: 16px;

        > span {
            display: block;
            text-align: justify;
        }
    }
}
