.o_data_cell .o_popover_widget {
  display: -webkit-box !important;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  max-width: 300px !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.o_data_cell .o_popover_widget_ie {
  display: inline-block !important;
  overflow: hidden !important;
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
}

.popover-body {
  white-space: pre-wrap !important;
}
