.o_form_sheet {
    .oe_button_box {
        float: none;
        text-align: right;
        width: auto !important;
        max-width: none;
        border-bottom: 1px solid #c8c8d3;
        padding: 0;
        margin-left: -16px;
        margin-right: -16px;
        margin-top: -17px;
        margin-bottom: 16px;

        .oe_stat_button {
            border-color: #c8c8d3;
            background-image: linear-gradient(320deg, #c8c8d3 9px, transparent 10px, transparent 12px, transparent 12px);
        }

        .dropdown-menu.o_dropdown_more.show {
            top: 0 !important;
            left: 0 !important;
            right: auto !important;
            margin: 0 !important;

            @media (min-width: 690px) and (max-width: 1160px) {
                margin-right: -6px !important;
            }
        }
    }

    .oe_button_box + .oe_title,
    .oe_button_box + .oe_avatar + .oe_title {
        width: auto !important;
    }
}
