.o_form_sheet {
    .oe_button_box {
        .oe_stat_button {
            background-image: linear-gradient(320deg, #c8c8d3 9px, transparent 10px, transparent 12px, transparent 12px);
            border-top: 0;
            border-right: 0;
        }
    }
}
