.m2o-info-popover {
    > table {
        margin-bottom: 0;

        td,
        th {
            vertical-align: middle;
            text-align: left;
            padding-top: 1px;
            padding-bottom: 1px;
        }

        .info_label {
            text-align: right;
        }
    }
}
